@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

   .wrapper{
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     /* align-items: center; */
     justify-content: center;
   }

   .box {
     display: block;
     width: 150px;
     height: 150px;
     margin: 10px;
     background-color: white;
     border-radius: 5px;
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
     transition: all 0.3s cubic-bezier(.25,.8,.25,1);
     overflow: hidden;
   }

   .upload-options {
    background:#303f9f;
    display: flex;
    justify-content: center;
    align-items: center;
     position: relative;
     height: 20%;
     cursor: pointer;
     overflow: hidden;
     text-align: center;
     transition: background-color ease-in-out 150ms;
     & input {
       width: 0.1px;
       height: 0.1px;
       opacity: 0;
       overflow: hidden;
       position: absolute;
       z-index: -1;
     }
   }


   .js--image-preview {
     height: 80%;
     width: 100%;
     position: relative;
     overflow: hidden;
     background-image: url('');
     background-color: white;
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     &::after {
       content: "photo_size_select_actual";
       font-family: 'Material Icons';
       position: relative;
       font-size: 3.5em;
       color: rgba(230, 230, 230, 1);
       top: calc(50% - 1.5rem);
       left: calc(50% - 1.75rem);
       z-index: 0;
     }
     &.js--no-default::after {
       display: none;
     }
     &:nth-child(2) {
       background-image: url('http://bastianandre.at/giphy.gif');
     }
   }

   .js--image-preview-selected{
    height: 80%;
    width: 150px;
    position: relative;
    overflow: hidden;
    background-image: url('');
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   }

