

.arrow-container {
  margin: 1;
  padding: 0;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.download-button {
  background-color: #e45311;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
