body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
*{
  margin: 0;
  padding: 0;
}
.transition{
  transition: 0.7s ease;
}
.scrollOver400px{
  height: 100%;
  /* max-height: 500px; */
  overflow-y: hidden;

}
.scrollOver500px{
  height: 100%;
  max-height: 500px;
  overflow-y: auto;

}
.manageProjectWrapper{
  max-width: 768px;
  width: 100%;
}
.cardComponentInsideWrapper{
display: flex;
flex-direction: column;
justify-content: space-between;
width: 100%;
}
.scrollOver400px::-webkit-scrollbar{
  scroll-behavior: smooth;
  scrollbar-width: 1rem;
  border-right: 1px solid rgb(112, 111, 111);
}
.box-shadow{
 box-shadow :"10px 8px 20px 5px rgba(0,0,0,0.1)";
  border-radius: "10px";
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.custom-chrome-picker {
  width: 200px; /* Set the desired width */
  height: 200px; /* Set the desired height */
  /* Add any other custom styles as needed */
}
.glow-button {
  background-color: #007bff; /* Set the initial background color */
  color: white; /* Text color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Smooth color transition

  /* Define the animation */
  animation: glowing 2s infinite; 
}

.page-type-button{
  padding: 20px 30px;
  font-size: 16px;
  border: none;
  background-color: #d4d4eb;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.7s ease;
}
.page-type-button:hover {
  transform: scale(1.1); /* Scale the button up by 10% on hover */
}
.scale-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease; /* Add a smooth transition for the 'transform' property */
}

.line{
border: 0.5px solid rgba(78, 78, 78, 0.089);
height: 0px;
margin-top: 2px;
}
.custom-chrome-picker-brand{
  margin-top: 10px !important;
  width: 185px !important;
  height: 0px !important;
}
.home{
  position: relative;
  top: 230px;
  text-align: right;
}
.scale-button:hover {
  transform: scale(1.1); /* Scale the button up by 10% on hover */
}
/* Keyframes animation for glowing effect */
@keyframes glowing {
  0% {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Initial glow state */
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.8); /* Full glow state */
  }
  100% {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Back to initial glow state */
  }
}

/* Change the background color when hovered */
.glow-button:hover {
  background-color: #0056b3; /* New background color on hover */
}